@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-toast.blue {
    background-color: var(--custom-primary-blue-100) !important;
    color: var(--custom-primary-blue-900) !important;
    font-family: inherit;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  